/* Styles for HomePage */

.home {
    width: 100%;
    margin: 0 auto;
    max-width: 1500px;
    background-color: #eaeded;
}

.home_container {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_img {
    width: 100%;
    height: auto;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.home_row_container {
    margin-top: -500px;
    padding: 0 20px;
    width: 100%;
}

.home_row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
    z-index: 1;
    position: relative;
}

/* Media Queries for Responsive Design */

/* For large screens */
@media (min-width: 1200px) {
    .home_container {
        width: 90%;
    }
}

/* For medium screens */
@media (min-width: 768px) and (max-width: 1199px) {
    .home_container {
        width: 95%;
        padding: 0 40px;
    }
    
    .home_row {
        gap: 10px;
    }
}

/* For small screens */
@media (max-width: 767px) {
    .home_container {
        width: 100%;
        padding: 0 10px;
    }
    
    .home_img {
        margin-bottom: -100px; 
    }
    
    .home_row {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .home_row_container {
        margin-top: -200px;
        padding: 0 10px;
    }
}